<h3>Registration form</h3>
<form [formGroup]="formGroup">
  <mat-vertical-stepper #linearVerticalStepper="matVerticalStepper" formArrayName="formArray" [linear]="false">
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
      <ng-template matStepLabel>First name</ng-template>
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstNameFormCtrl" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
        <ng-template matStepLabel>Last name</ng-template>
        <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastNameFormCtrl" required>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
    </mat-step>

    <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
        <ng-template matStepLabel>Contact number</ng-template>
        <mat-form-field>
            <mat-label>Contact number</mat-label>
            <input matInput formControlName="contactFormCtrl" required pattern="^[789]\d{9}$">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
    </mat-step>
    <mat-step formGroupName="3" [stepControl]="formArray?.get([3])">
        <ng-template matStepLabel>Password </ng-template>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="passwordFormCtrl" required (change)="onChangeData()">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
    </mat-step>
    <mat-step formGroupName="4" [stepControl]="formArray?.get([4])">
        <ng-template matStepLabel>Confirm Password</ng-template>
        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPasswordFormCtrl" required (change)="onChangeData()">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
    </mat-step>

    <mat-step formGroupName="5" [stepControl]="formArray?.get([5])">
      <ng-template matStepLabel>
        <div>Fill out your email address</div>
      </ng-template>
      <mat-form-field>
        <mat-label>Email address</mat-label>
        <input matInput formControlName="emailFormCtrl">
        <mat-error>The input is invalid.</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Submit the form Details</ng-template>
      <div>
        <button mat-button (click)="submitForm()" [disabled]="!formGroup.valid && matchPassword">Submit</button>
        <button type="button" mat-button (click)="linearVerticalStepper.reset()">Reset</button>
      </div>
      </mat-step>
  </mat-vertical-stepper>
</form>

